.footer {
  width: 100%;
  height: 60px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(108,99,255);
  color: #fff;
}

.socialicon {
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialicon > button {
  background-color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.socialicon > button img {
  width: 30px;
  height: 25px;
}
.socialicon > button:nth-child(3) img{
  width: 37px;
  height: 35px;
  margin-left: -2px;
}


@media screen and (min-width:200px) and (max-width: 480px){
      .socialicon{
        display: none;
      }
      .footer{
        width: 100%;
      }
}

@media screen and (max-width: 900px) {
.footer{
  padding: 0px;
}
}

@media screen and (max-width: 700px) {
  .footer{
    padding: 0px;
  }
}
